<h1>Test#gcm_register_test</h1>
<%= form_tag("/gcm/register", method: "post") do %>
    <%= label_tag(:regid, "GCM_ID:") %>
    <%= text_field_tag(:regid) %>
    <%= submit_tag("Create") %>
<% end %>
<p>Find me in app/views/test/gcm_register_test.html.erb</p>
